$bgDark: #121212;
$bgLightDark: #242424;
$yellow: #FFD700;
$projectBoxWidth: 20%;
$actionDark:  #3498db;
/// light mode
$bgLight: #efefef;
$textLightHeader: #333333;
$seconaryText: #666666;
$actionLight: #3498db;
